/* CSS Variables */
:root {
  --form-padding: 2vw;
  --input-padding: 0.8vw;
  --input-margin: 0.5vw 0 1.5vw 0;
  --button-padding: 1vw;
  --button-font-size: 1.2vw;
  --form-font-size: 1.2vw;
  --form-background-color: #f9f9f9;
  --form-border-radius: 8px;
  --input-margin-submit: 0.5vw 0 0 0;
  --border-color: #ccc;
  --primary-color: #4caf50;
  --primary-color-hover: #45a049;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
  background-color: var(--form-background-color);
  padding: var(--form-padding);
  border-radius: var(--form-border-radius);
  box-shadow: var(--box-shadow);
  display: inline-block;
  text-align: left;
  font-size: var(--form-font-size);
}

form label {
  display: block;
  margin-bottom: 1.5vw;
  font-weight: 500;
  color: #333;
}

form input {
  width: 100%;
  padding: var(--input-padding);
  margin: var(--input-margin);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: var(--form-font-size);
}

form input[type="text"],
form input[type="number"] {
  width: calc(100% - 1.6vw); /* Adjust width considering padding */
}

form button {
  width: 100%;
  padding: var(--button-padding);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--button-font-size);
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--primary-color-hover);
}

/* Header Layouts */
.header-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 7vw;
  grid-auto-flow: row;
  grid-template-areas: ". form-header";
  margin-bottom: 2vw;
  align-items: center;
}

.form-header {
  grid-area: form-header;
}

/* Label for Submit */
.label_submit {
  display: none;
}
